@layer reset, base, tokens, recipes, utilities;

@layer base {
  :root {

    --color-text: oklch(0.32 0 0);
    --color-background: oklch(1 0 0);
    --color-canvas-checker: oklch(0 0 0 / 0.1);
    --outline-focus: 2px solid var(--color-text);

    @media screen and (prefers-color-scheme: dark) {
      --color-text: oklch(0.8 0 0);
      --color-background: oklch(0.3 0 0);
      --color-canvas-checker: oklch(0.7 0 0 / 0.1);
    }

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-background);
    background-image: conic-gradient(
      transparent 90deg,
      var(--color-canvas-checker) 0 180deg,
      transparent 0 270deg,
      var(--color-canvas-checker) 0
    );
    background-size: 20px 20px;
    background-attachment: fixed;
  }

  @keyframes fade-scroll {
    from { opacity: 1  }
    to   { opacity: 0 }
  }

  :focus-visible {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }
}
