@layer reset, base, tokens, recipes, utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #333;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    --color-checker: hsl(0 0% 0% /0.102);
    background-color: #fff;
    background-image: conic-gradient(
      transparent 90deg,
      var(--color-checker) 0 180deg,
      transparent 0 270deg,
      var(--color-checker) 0
    );
    background-size: 20px 20px;
    background-attachment: fixed;
  }
}
